* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 850px;
}

.nav {
  margin-top: 22px;
  margin-bottom: 22px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  height: 30px;
  width: 30px;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 20px;
  position: relative;
}

.nav-links ul li a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.bg {
  height: 500px;
  background-color: rgb(35, 193, 232);
}
nav .fa {
  display: none;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  color: white;
}
#title-i {
  margin-right: 33px;
}
#title-color {
  margin-left: 33px;
}
span {
  font-size: 70px;
}
#content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
#content-p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
button {
  margin: 25px 0 0 700px;
  padding: 6px 36px;
  border-radius: 20px;
  background-color: rgb(243, 47, 47);
  color: white;
}

.discription {
  margin-top: -9%;
  display: flex;
  margin-left: 342px;
  height: 385px;
}
.col {
  flex-basis: 24%;
  background-color: rgb(255, 255, 255);
  margin-bottom: "";
  padding: 40px 16px;
  box-sizing: border-box;
  box-shadow: 0 0 20px 0px rgba(134, 130, 130, 0.5);
}
#col-1 {
  margin-right: 12px;
}
#col-2 {
  margin: 0px 12px;
}
#col-3 {
  margin-left: 12px;
}
#col-1:hover,
#col-2:hover,
#col-3:hover {
  box-shadow: 0 0 20px 0px rgba(158, 158, 158, 0.5);
  transform: scale(1.1);
  transition: 0.5s;
}
.col img {
  margin-left: 95px;
  margin-top: 25px;
  width: 70px;
  height: 70px;
}

.col h3 {
  margin-left: 105px;
  margin-top: 30px;
  margin-bottom: 10px;
}
#col-3 h3 {
  margin-left: 105px;
}
.col p {
  text-align: center;
}

@media (max-width: 700px) {
  .nav-links ul li {
    display: block;
    margin: 25px;
  }
  nav .fa {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background-color: #f44336;
    position: fixed;
    top: 0;
    right: -160px;
    width: 160px;
    height: 100vh;
    padding-top: 50px;
    transition: 1s;
    z-index: 2;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa {
    cursor: pointer;
    position: absolute;
    top: 25px;
    left: 25px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .bg {
    width: 100%;
  }
  button {
    margin-left: 100px;
  }
  .discription {
    width: 100%;
    margin-left: 65px;
    flex-direction: column;
  }
  .col {
    width: 100%;
    width: 260px;
    display: block;
    align-items: center;
    justify-content: center;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
  }
}
